In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import lxml.html as lh

In [2]:
url= 'https://covid19.ncdc.gov.ng/'

# Create a handle, page, to handle the contents of the website
response = requests.get(url)

In [3]:
doc= lh.fromstring(response.content)
#store the contents of the wesite under doc

In [4]:
tr_elements= doc.xpath('//tr')
# parse data that are stored between <tr>..</tr> of html

In [5]:
#slice the length of rows of needed data
[len(T) for T in tr_elements[0:39]]

tr_elem= tr_elements[0:39]

In [6]:
len(tr_elem)

38

In [7]:
[len(T) for T in tr_elem[0:]]

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [8]:
len(tr_elem[26])

5

In [9]:
tr_elements= doc.xpath('//tr')

In [10]:
#create an empty list
col= []
i= 0

In [11]:
# for each row, store each first elemet(header) and an empty list
for t in tr_elem[0]:
    i+=1
    name= t.text_content()
    "%d:'%s'"
    print(i, name)
    col.append((name, []))

1 States Affected
2 No. of Cases (Lab Confirmed)
3 No. of Cases (on admission)
4 No. Discharged
5 No. of Deaths

In [12]:
# Since the first row is the header, the data is stored in the second row onwards
for j in range(1,len(tr_elem)):
    #T is out j'th row
    T= tr_elem[j]
    
    #if row is not the size of 5 the //tr data is not from our table
    if len(T) != 5:
        break
        
    # i is the index of our column
    i= 0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data= t.text_content()
        #Check if row is empty
        if i>0:
            #convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment of i for the next data column
        i+=1

In [13]:
col[0]

('States Affected',
 ['\nLagos\n',
  '\nFCT\n',
  '\nEdo\n',
  '\nOyo\n',
  '\nRivers\n',
  '\nDelta\n',
  '\nKano\n',
  '\nOgun\n',
  '\nKaduna\n',
  '\nOndo\n',
  '\nKatsina\n',
  '\nEbonyi\n',
  '\nBorno\n',
  '\nPlateau\n',
  '\nGombe\n',
  '\nBauchi\n',
  '\nEnugu\n',
  '\nAbia\n',
  '\nImo\n',
  '\nKwara\n',
  '\nJigawa\n',
  '\nBayelsa\n',
  '\nOsun\n',
  '\nNasarawa\n',
  '\nSokoto\n',
  '\nNiger\n',
  '\nAkwa Ibom\n',
  '\nBenue\n',
  '\nAdamawa\n',
  '\nAnambra\n',
  '\nKebbi\n',
  '\nZamfara\n',
  '\nEkiti\n ',
  '\nYobe\n',
  '\nTaraba\n',
  '\nCross River\n',
  '\nKogi\n'])

In [14]:
Dict= {title:column for (title,column) in col}
df = pd.DataFrame(Dict)

In [15]:
df

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,\nLagos\n,"12,427\n","10,358\n","1,897\n",172
1,\nFCT\n,"2,576\n","1,765\n",773,38
2,\nEdo\n,"1,731\n",700,974,57
3,\nOyo\n,"1,726\n",699,"1,008\n",19
4,\nRivers\n,"1,368\n",469,853,46
5,\nDelta\n,"1,359\n",745,583,31
6,\nKano\n,"1,309\n",227,"1,030\n",52
7,\nOgun\n,"1,087\n",329,736,22
8,\nKaduna\n,989,336,641,12
9,\nOndo\n,716,557,138,21
10,\nKatsina\n,669,205,441,23
11,\nEbonyi\n,616,102,508,6
12,\nBorno\n,586,96,455,35
13,\nPlateau\n,533,273,244,16
14,\nGombe\n,530,101,407,22
15,\nBauchi\n,521,3,505,13
16,\nEnugu\n,476,139,322,15
17,\nAbia\n,405,107,295,3
18,\nImo\n,386,309,69,8
19,\nKwara\n,330,139,179,12
20,\nJigawa\n,321,2,308,11
21,\nBayelsa\n,313,142,153,18
22,\nOsun\n,245,154,84,7
23,\nNasarawa\n,244,123,113,8
24,\nSokoto\n,153,2,135,16
25,\nNiger\n,145,30,108,7
26,\nAkwa Ibom\n,145,71,71,3
27,\nBenue\n,121,80,35,6
28,\nAdamawa\n,110,32,71,7
29,\nAnambra\n,93,19,65,9
30,\nKebbi\n,86,12,67,7
31,\nZamfara\n,76,0,71,5
32,\nEkiti\n,63,21,40,2
33,\nYobe\n,62,3,51,8
34,\nTaraba\n,27,16,11,0
35,\nCross River\n,9,5,3,1
36,\nKogi\n,5,0,3,2

In [16]:
df= df.replace('\n', ' ', regex= True)

In [17]:
df.head()

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,"12,427","10,358","1,897",172
1,FCT,"2,576","1,765",773,38
2,Edo,"1,731",700,974,57
3,Oyo,"1,726",699,"1,008",19
4,Rivers,"1,368",469,853,46

In [18]:
print(df.columns)

Index(['States Affected', 'No. of Cases (Lab Confirmed)',
       'No. of Cases (on admission)', 'No. Discharged', 'No. of Deaths'],
      dtype='object')

In [19]:
df.columns= ['States Affected', 'No. of Cases (Lab Confirmed)', 'No. of Active Cases', 'No. Discharged', 'No. of Deaths']

In [20]:
df

,States Affected,No. of Cases (Lab Confirmed),No. of Active Cases,No. Discharged,No. of Deaths
0,Lagos,"12,427","10,358","1,897",172
1,FCT,"2,576","1,765",773,38
2,Edo,"1,731",700,974,57
3,Oyo,"1,726",699,"1,008",19
4,Rivers,"1,368",469,853,46
5,Delta,"1,359",745,583,31
6,Kano,"1,309",227,"1,030",52
7,Ogun,"1,087",329,736,22
8,Kaduna,989,336,641,12
9,Ondo,716,557,138,21
10,Katsina,669,205,441,23
11,Ebonyi,616,102,508,6
12,Borno,586,96,455,35
13,Plateau,533,273,244,16
14,Gombe,530,101,407,22
15,Bauchi,521,3,505,13
16,Enugu,476,139,322,15
17,Abia,405,107,295,3
18,Imo,386,309,69,8
19,Kwara,330,139,179,12
20,Jigawa,321,2,308,11
21,Bayelsa,313,142,153,18
22,Osun,245,154,84,7
23,Nasarawa,244,123,113,8
24,Sokoto,153,2,135,16
25,Niger,145,30,108,7
26,Akwa Ibom,145,71,71,3
27,Benue,121,80,35,6
28,Adamawa,110,32,71,7
29,Anambra,93,19,65,9
30,Kebbi,86,12,67,7
31,Zamfara,76,0,71,5
32,Ekiti,63,21,40,2
33,Yobe,62,3,51,8
34,Taraba,27,16,11,0
35,Cross River,9,5,3,1
36,Kogi,5,0,3,2

In [21]:
df.to_csv('ncdc_covid19_120720.csv')